<div class="h-vw-5 grid grid-cols-3 grid-rows-3 gap-10 py-10 px-20">
    <div class="featured-0-bg relative flex flex-col p-20 justify-end bg-center bg-cover rounded-2xl row-span-3">
        <h1 class="text-white mt-3 text-8xl font-montserrat uppercase font-bold ">find your style</h1>
        <a class="cursor-pointer inline-block mt-12 max-w-max text-4xl rounded-xl hover:bg-gray-300 px-12 py-6 bg-white font-montserrat text-black font-medium capitalize">shop now</a>
        <p class="transform translate-y-32 translate-x-24 cursor-pointer rotate-90 absolute top-0 right-0 m-4 font-montserrat text-white">Mike Von, <br/> Los Angeles, CA, USA</p>
    </div>
    <div class="featured-1-bg relative flex flex-col p-48 items-center justify-center bg-center bg-cover rounded-2xl row-span-2 col-span-2">
        <h1 class="text-white mt-3 text-8xl font-montserrat capitalize font-bold ">become a member</h1>
        <p class="text-white text-3xl text-center font-montserrat">Things are better as a Albaga Member. Get first and exclusive access to the newest styles & innovation, free shipping, birthday rewards and more.</p>
        <a class="cursor-pointer inline-block mt-12 max-w-max text-4xl rounded-xl hover:bg-gray-300 px-12 py-6 bg-white font-montserrat text-black font-medium capitalize">join us</a>
        <p class="transform translate-y-4 translate-x-4 cursor-pointer absolute top-0 left-0 m-4 font-montserrat text-white">Vittorio Cioffi,<br/>Caserta, Caserta, Italia</p>
    </div>
    <div class="rounded-2xl bg-gray-400"></div>
    <div class="featured-3-bg relative flex flex-col items-center justify-center bg-center bg-cover rounded-2xl">
        <h1 class="text-white mt-3 text-8xl font-montserrat capitalize font-bold ">on sale</h1>
        <p class="text-white text-3xl text-center font-montserrat">Up to 50% discount</p>
        <a class="cursor-pointer inline-block mt-12 max-w-max text-4xl rounded-xl hover:bg-gray-800 px-12 py-6 bg-black font-montserrat text-white font-medium capitalize">shop now</a>
        <p class="transform translate-y-32 translate-x-24 cursor-pointer rotate-90 absolute top-0 right-0 m-4 font-montserrat text-white">Mike Von, <br/> Los Angeles, CA, USA</p>
    </div>
</div>
{% schema %}
{
    "name": "Featured Promos",
    "tag": "section",
    "presets": [
        {
            "name": "Featured Promos"
        }
    ]
}
{% endschema %}